fastapi==0.110.2 
uvicorn[standard]==0.29.0
python-multipart==0.0.9 
python-dotenv==1.0.1
pydantic-settings==2.2.1
aiofiles==23.2.1
langchain==0.2.1
PyMuPDF==1.24.4
langchain-community==0.2.1
motor==3.4.0
pydantic-mongo==2.3.0
openai==1.44.0
cohere==5.9.1 
qdrant-client==1.11.1
